// .blob-blur {
//     position: absolute;
//     inset: 0;
//     pointer-events: none;
//     backdrop-filter: blur(4px);
//     -webkit-backdrop-filter: blur(4px);
// }

// .blob-blur--topLeft {
//     clip-path: path("M136.635 69.3829C134.929 86.6169 143.516 104.821 122.816 110.367C102.117 115.912 80.9167 141.065 68.3176 137.69C50.3393 132.873 24.0909 134.95 18.6974 121.512C13.6635 106.19 0 89.8237 0 69.3829C0 51.1258 2.87653 29.1179 18.8342 22.2872C32.0375 13.659 42.8121 -4.60739 68.3176 1.07613C103.196 10.4202 140.231 33.0724 136.635 69.3829Z");

//     top: 3.9rem;
//     left: -2.7rem;
// }

// .blob-blur--topRight {
//     clip-path: path("M234.374 119.66C231.446 149.383 246.176 180.779 210.67 190.343C175.164 199.907 138.799 243.286 117.187 237.465C86.3483 229.158 41.3238 232.741 32.0722 209.564C23.4374 183.139 0 154.913 0 119.66C0 88.1735 4.93418 50.2178 32.3069 38.4373C54.9548 23.5568 73.4367 -7.94608 117.187 1.85594C177.014 17.971 240.542 57.0379 234.374 119.66Z");

//     top: -4.7rem;
//     left: 19.3rem;
// }

// .blob-blur--downLeft {
//     clip-path: path("M307.18 155.357C303.343 193.947 322.648 234.709 276.112 247.126C229.576 259.543 181.915 315.863 153.59 308.305C113.171 297.52 54.1606 302.172 42.0351 272.081C30.718 237.772 0 201.127 0 155.357C0 114.477 6.46694 65.1986 42.3427 49.9039C72.0258 30.5841 96.249 -10.3166 153.59 2.4096C232.001 23.3321 315.263 74.0534 307.18 155.357Z");

//     top: 44.4rem;
//     left: -10rem;
// }

// .blob-blur--downRight {
//     clip-path: path("M70.8109 36.1998C69.9264 45.1914 74.3767 54.6894 63.6493 57.5827C52.9218 60.476 41.9349 73.5991 35.4054 71.8381C26.0882 69.3251 12.4851 70.4089 9.68991 63.3974C7.08109 55.4033 0 46.8646 0 36.1998C0 26.6743 1.49075 15.1919 9.7608 11.6281C16.6034 7.12643 22.1873 -2.40386 35.4054 0.561459C53.4808 5.43661 72.6743 17.2552 70.8109 36.1998Z");

//     top: 49.3rem;
//     left: 29.6rem;
// }

& .blob {
    position: absolute;
}

.outline--rotatingGradient {
    transform-origin: 10.25rem 10.4rem;
    animation: spinOutline 3.2s linear infinite;
    overflow: hidden;
}

@keyframes spinOutline {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}