
& .blob {
    position: absolute;
}

// .outline--rotatingGradient {
//     transform-origin: 10.25rem 10.4rem;
//     animation: spinOutline 3.2s linear infinite;
//     overflow: hidden;
// }

// @keyframes spinOutline {
//     from { transform: rotate(0deg); }
//     to { transform: rotate(360deg); }
// }