html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Work Sans', sans-serif;
}

.title__h1 {
    font-weight: 500;
    font-size: 12.8rem;
    font-optical-sizing: auto;
    text-rendering:geometricPrecision;
}