$bg-color: #00001D;
$title-color: #AEFFEE;
$text-color: #DFFFF8;
$accent-color: #0CFFCE;
$material-bg-color: linear-gradient(180deg, #022E39 0%, #043038 100%);

$font-size-h1: 6.4rem;
$font-size-h2: 3.2rem;
$font-size-h3: 2.3rem;
$font-size-text-big: 2.3rem;
$font-size-text: 1.6rem;

$margin-spacing-h2: 2.4rem;

$margin-global: 1.6rem;
$margin-global-half: calc($margin-global / 2);
$margin-bottom-h2: 8rem;
$margin-bottom-h3: 3.2rem;
$margin-left-list: 2rem;
$margin-end-list: 4.8rem;
$margin-text-global: 3.2rem;
$margin-text-big: 6.4rem;
$margin-bottom-section: 8rem;
$margin-top-intro: 25.6rem;
$margin-intro-blob: 8rem;

$padding-section: 8rem;
$padding-material-h2: 1.2rem;
$padding-text-list: 1.6rem;
