@use "utils/mixins" as *;
@use "utils/type" as *;
@use "utils/variables" as *;
@use "utils/reset" as *;
@use "utils/_blobs" as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
html, body {
  background-color: $bg-color;
}

section {
  position: relative;
}
.wrapper {
  padding: 0 var(--padding-global);
}
.main {
  width: 100%;
  overflow: hidden;

  &::before, &::after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: $text-color;
    opacity: .2;
    z-index: 99;
  }

  &::before {
    left: var(--padding-global-half);
  }

  &::after {
    right: var(--padding-global-half);
  }
    
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--gap-section);
  }
}

.landing {
  width: 100%;
  height: 100vh;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none !important;
  touch-action: none !important;

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: calc(3.3rem + 1.6rem); // sizeArrow + gap
    z-index: 99;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__blobs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
    pointer-events: none !important;
    touch-action: none !important;

    & .blob--topLeft {
      top: 3.9rem;
      left: -2.7rem;
    }

    & .blob--topRight {
      top: -4.7rem;
      right: -5.3rem;
    }

    & .blob--center {
      top: calc(50% - 105px);
      left: calc(50% - 103px);
    }

    & .blob--downLeft {
      bottom: -10.6rem;
      left: -10rem;
    }

    & .blob--downRight {
      bottom: 11.3rem;
      right: .4rem;
    }

  }

  &__lines {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      z-index: 1;
    }

    &__line {
      position: absolute;
      background-color: $text-color;
      height: 1px;
      width: 100%;

      &:nth-of-type(1) {
        transform: translateY(var(--padding-global));
      }

      &:nth-of-type(2) {
        transform: translateY( calc(100vh - var(--padding-global)) );
      }
    }
}

.intro {
  margin-bottom: var(--margin-btm-intro);
  margin-top: var(--margin-top-intro);

  &__title {
    text-align: end;
    margin-right: var(--margin-left-right-h2);
  }

  &__content {
    margin-bottom: var(--margin-intro-blob);
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-text-global);
  }

  &__p {
    margin-top: 0;
    position: relative;

    &.p--big {
      margin-bottom: calc(var(--margin-text-big) / 2);
    }

    // &::after {
    //   display: block;
    //   content: "";
    //   position: absolute;
    //   height: 1px;
    //   width: .7rem;
    //   top: 50%;
    //   transform: translateY(-50%);
    //   right: -.7rem;
    //   background-color: $text-color;
    //   opacity: .2;
    // }
  }

  & .blob--intro {
    position: static;
    transform: translateX(20rem);
  }

}

.material {
  width: 100%;
  position: relative;
  margin-top: calc(var(--gap-section) * -1);
  
  &__wrapper {
    position: relative;
    padding: var(--padding-section) var(--padding-global);
    width: 100%;
    min-height: max-content;
  }

  &__section {
    
    &--composition, &--functioning {
      z-index: 1;
  
    }

    &--functioning {
      position: relative;
      // opacity: 0;
      // visibility: hidden;
      
    }
  }

  &__title-container {
      position: relative;
      width: 100%;
      margin-bottom: var(--margin-btm-h2);
      display: flex;
      align-items: center;

      &::before {
        display: block;
        content: "";
        height: 1px;
        width: calc(var(--padding-h2-mat) * 2 + var(--padding-global));
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc((var(--padding-h2-mat) + var(--padding-global)) * -1);
        background-color: $text-color;
        opacity: .2;
      }

      &::after {
        display: block;
        content: "";
        height: 1px;
        
        flex-grow: 1; 
        
        margin-right: calc(var(--padding-global) * -1); 
        
        background-color: $text-color;
        opacity: .2;
      }
    }

    &__title {
      padding: 0 var(--padding-h2-mat);
      margin-left: var(--padding-h2-mat);
      width: fit-content;
      margin-bottom: 0;
      flex-shrink: 0;

      &.cube-left {
        &::before {
          left: calc((var(--padding-h2-mat) + (var(--padding-global-half))) * -1);
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: var(--gap-list-mat);
    }
  
    &__item {
      margin-left: var(--margin-left-right-list-mat);
      &-title {
        position: relative;
        font-size: var(--fs-h3);
        font-weight: 400;
        margin-bottom: var(--margin-btm-h3-mat);
  
        &::before {
          display: block;
          content: "";
          height: 1px;
          width: calc(var(--padding-global-half)  - .5px);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: calc((var(--margin-left-right-list-mat) + 0.7rem) * -1);
          background-color: $text-color;
          opacity: .2;
        }
  
        &::after {
          display: block;
          content: "";
          width: var(--list-cube-size);
          height: var(--list-cube-size);
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: - 1.95rem;
          background-color: $accent-color;
        }
      }
  
      &-text {
        padding-left: var(--padding-left-list-text-mat);
      }
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      gap: var(--margin-text-global);

      & .p--big {
        margin-top: calc(var(--margin-text-big) / 2);
      }
    }

  &__bg {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    z-index: 0;

    & svg {
      width: 100%;
      height: 100%;
    }
  }
}

.transformation {
  // margin-top: $margin-top-section;
  padding: var(--padding-section) 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-section);

  &__section {
    padding: var(--padding-section) 0;
    width: 100%;

    &:nth-of-type(1){
      &.arrow-left {
        &::before {
          top: -16rem;
        }
      }
    }
    
    &--shape, &--repair {
      & .transformation__p {
        &.p--big {
          margin: 0;
        }
      }
    }

    &--color {
      background: linear-gradient(180deg, #00001D 0.01%, #1F014C 50%);
    }
  }
  &__title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--margin-btm-title-container-tr);
  }
  &__title {
    width: calc(100vw - var(--padding-global) * 2);
    font-size: var(--fs-h2-tr);
    margin-bottom: var(--margin-btm-h2-tr);
    text-align: center;

    &.cube-left {
      &::before {
        left: calc(var(--padding-global-half) * -1);
      }
    }

    &.cube-right {
      &::after {
        right: calc(var(--padding-global-half) * -1);
      }
    }
  }

  &__subTitle {
    font-family: $f-title;
    font-size: var(--fs-h3-tr);
    text-transform: uppercase;
    font-weight: 300;
    color: $accent-color;
    letter-spacing: -6%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-text-global);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--gap-list-tr);
    margin: var(--margin-text-big) 0 var(--margin-btm-list-end) 0;
  }

  &__item {
    position: relative;
    margin-left: var(--margin-left-list-tr);

    &::before {
      display: block;
      content: "";
      height: 1px;
      width: calc(var(--padding-global) - .5px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc((var(--margin-left-list-tr) + 0.7rem) * -1);
      background-color: $text-color;
      opacity: .2;
    }

    &::after {
      display: block;
      content: "";
      width: var(--list-cube-size);
      height: var(--list-cube-size);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: - 1.95rem;
      background-color: $accent-color;
    }
  }
}

.change {
  padding: var(--padding-section) 0;

  &__title {
    margin-right: var(--margin-left-right-h2);
    text-align: end;
    line-height: 130%;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-text-global);
  }
}

.about {
  padding: var(--padding-section) 0;
  &__title {
    margin-left: var(--margin-left-right-h2);
    line-height: 130%;
  }
  &__text-container {
    display: flex;
    flex-direction: column;
    gap: var(--margin-text-global);
  }

}

.transformation, .change, .about {
  &__p {
    &.p--big {
      margin: 0 0 calc(var(--margin-text-big) / 2) 0;
    }
  }
}

.footer {
  position: relative;
  font-family: $f-title;
  padding-bottom: calc(var(--padding-global) * 2);
  margin-top: var(--margin-top-fo);

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    align-items: center;
  }

  &__title-container {
    position: relative;
    padding: 0 var(--padding-global);
    
    &::before {
      display: block;
      content: "";
      height: 1px;
      width: calc(100% + var(--padding-global));
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(var(--padding-global) * -1);
      background-color: $text-color;
      opacity: .2;
    }
  }

  &__title {
    width: fit-content;
    padding: 0 var(--padding-h2-mat);
    margin-bottom: var(--margin-btm-h2-fo);
    margin-left: var(--padding-h2-mat);
    background-color: $bg-color;

    &.cube-left {
      &::before {
        left: calc((var(--padding-h2-mat) + (var(--padding-global-half))) * -1);
      }
    }
  }

  &__subTitle {
    font-family: $f-title;
    font-weight: 300;
    font-size: var(--fs-subtitle-fo);
    text-transform: uppercase;
    letter-spacing: $f-title-ls;
    color: $title-color;
  }

  &__list-container {
    width: 100%;

    & .footer__list {
      display: flex;
      justify-content: normal;
      gap: 2.4rem;
      margin-top: 1.6rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: var(--gap-list-vertical-fo);

    &--right {
      text-align: end;
    }
  }
  
  &__link {
    color: $text-color;
    font-family: $f-title;
    font-size: var(--fs-text-fo);
    font-weight: 300;
    text-transform: uppercase;
    text-underline-offset: 28%;
    line-height: 100%;
  }

  &__p {
    font-size: var(--fs-p-fo);
    text-transform: uppercase;

    & .footer__link {
      font-size: var(--fs-p-fo);
      color: $accent-color;

      transition: color .3s ease-out;
      &:hover {
          color: $text-color;
          em {
            color: $text-color;
          }
      }
    }
  }

  &::after {
    display: block;
    content: "";
    height: 1px;
    width: calc(100% + var(--padding-global));
    position: absolute;
    bottom: var(--padding-global);
    transform: translateY(-50%);
    left: calc(var(--padding-global) * -1);
    background-color: $text-color;
    opacity: .2;
  }
}

.cube {
  &-left {

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateX(calc(-50% + .5px)) translateY(-50%);
      left: calc((var(--margin-left-right-h2) + var(--padding-global-half)) * -1);
      width: var(--cube-size);
      height: var(--cube-size);
      background-color: $accent-color;

    }

  }
  &-right {
    
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateX(calc(50% - .5px)) translateY(-50%);
      right: calc((var(--margin-left-right-h2) + var(--padding-global-half)) * -1);
      width: var(--cube-size);
      height: var(--cube-size);
      background-color: $accent-color;

    }
  }
}
// arrowSize = 16px -> bp-xs = no left, 
.arrow {
  &-left {

    &::before {
      display: block;
      content: "";
      width: var(--arrow-size);
      height: var(--arrow-size);
      position: absolute;
      top: -8rem;
      transform: translateX(.5px);
      background-image: url(../../assets/images/arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

  &-right {

    &::before {
      display: block;
      content: "";
      width: var(--arrow-size);
      height: var(--arrow-size);
      position: absolute;
      top: -8rem;
      left: calc(100vw - var(--arrow-size));
      transform: translateX(- .5px);
      background-image: url(../../assets/images/arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

@media (min-width: $bp-sm){

  // .landing {
  //   &__blobs {
  //     position: absolute;
  //     width: 100%;
  //     height: 100%;
  //     top: 0;
  //     left: 0;
  //     z-index: 98;
  //     pointer-events: none !important;
  //     touch-action: none !important;

  //     & .blob--topLeft {
  //       top: 3.9rem;
  //       left: -2.7rem;
  //     }

  //     & .blob--topRight {
  //       top: -4.7rem;
  //       right: -5.3rem;
  //     }

  //     & .blob--center {
  //       top: 22.9rem;
  //       left: 8.4rem;
  //     }

  //     & .blob--downLeft {
  //       bottom: -10.6rem;
  //       left: -10rem;
  //     }

  //     & .blob--downRight {
  //       bottom: 11.3rem;
  //       right: -0.4rem;
  //     }

  //   }
  // }

  .material {
    &__item-title {
      &::before {
        width: calc(var(--margin-left-right-list-mat) - var(--padding-global-half));
        left: calc((var(--margin-left-right-list-mat) + var(--padding-global-half) - .5px) * -1);
      }
      
      &::after {
        left: calc(var(--margin-left-right-list-mat) * -1);
      }
    }
  }

  .transformation {
    &__item {
      &::before {
        width: calc(var(--padding-global-half));
        left: calc((var(--margin-left-list-tr) + var(--padding-global-half) - .5px) * -1);
      }

      &::after {
        left: calc(var(--margin-left-list-tr) * -1);
      }
    }
  }
  .arrow {
    &-left {
      &::before {
        left: calc(var(--arrow-size) - var(--padding-global-prev) / 2);
      } 
    }

    &-right {
      &::before {
        left: calc(100vw - var(--arrow-size) - var(--padding-global-prev) / 2);
      }
    }
  }

}

@media (min-width: $bp-md) {

  .intro {
    &__p {
      &.p--big {
        margin-bottom: calc(var(--margin-text-big) / 4);
      }
    }
  }

  .material {
    &__item-title {
      &::before {
        width: calc(var(--margin-left-right-list-mat));
        left: calc((var(--margin-left-right-list-mat) + var(--margin-left-right-list-mat) - .5px) * -1);
      }
      
      &::after {
        left: calc(var(--margin-left-right-list-mat) * -1);
      }
    }
    
    &__p {
      &.p--big {
        margin-top: calc(var(--margin-text-big) / 4);
      }
    }

    &__section {
      &--functioning {

        & .material__list {
          margin-top: 0;
        }
      }
    }
  }

  .transformation, .change, .about {
    &__p {
      &.p--big {
        margin-bottom: calc(var(--margin-text-big) / 4);
      }
    }
  }
}

@media (min-width: $bp-lg) {

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro, .change {
    &__title-container {
      align-self: end;
    }
  }

  .material, .about {
    &__title-container {
      align-self: start;
    }
  }

  .intro, .material, .transformation, .change, .about {
    &__content {
      width: 80%;
    }
  }

  .material {

    &__list {
      position: relative;
      // &::before {
      //   display: block;
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   height: 100%;
      //   width: 1px;
      //   background-color: $text-color;
      //   opacity: .2;
      //   z-index: 99;
      //   transform: translateX(calc(var(--margin-left-right-list-mat) * -1)) translateY(1.85rem);
      //   // translateY(1.85rem)
      // }

      // &::after {
      //   display: block;
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   width: calc(var(--margin-left-right-list-mat) + var(--list-cube-size) * 2 + var(--padding-global-half));
      //   left: calc((var(--margin-left-right-list-mat) + var(--list-cube-size) * 2 + var(--padding-global-half)) * -1);
      //   height: 1px;
      //   background-color: $text-color;
      //   opacity: .2;
      //   z-index: 99;
      //   transform: translateX(calc(var(--margin-left-right-list-mat) * -1)) translateY(1.85rem);
      // }
    }
    &__item-title {
      &::before {
        width: calc(((100vw - var(--padding-global) * 2) - ((100vw - var(--padding-global) * 2) * .8) + var(--padding-global-half) + var(--margin-left-right-list-mat)));
        left: calc(((100vw - var(--padding-global) * 2) - ((100vw - var(--padding-global) * 2) * .8) + var(--padding-global-half) + var(--margin-left-right-list-mat) * 2) * -1);
      }
      
      &::after {
        left: calc(var(--margin-left-right-list-mat) * -1);
      }
    }
  }

  .transformation {
    &__item {
      &::before {
        width: calc(var(--margin-left-list-tr));
        left: calc((var(--margin-left-list-tr) + var(--margin-left-list-tr) - .5px) * -1);
      }

      &::after {
        left: calc(var(--margin-left-list-tr) * -1);
      }
    }
  }

  .footer {
    &__wrapper {
      padding: 0 calc(var(--padding-global) + var(--padding-wrapper));
    }
  }
}

@media (min-width: $bp-xl) {

  .intro, .matieral, .transformation, .change, .about {
    &__content {
      width: 65%;
    }
  }

  .arrow {
    &-left {
      &::before {
        left: calc(var(--padding-global-prev) / 2);
      } 
    }

    &-right {
      &::before {
        left: calc(100vw - var(--arrow-size) - var(--padding-global-prev) / 2);
      }
    }
  }
}

@media (min-width: $bp-xxl) {

  .intro, .material, .transformation, .change, .about {
    &__content {
      width: 55%;
    }
  }

  .arrow {
    &-left {
      &::before {
        left: calc(var(--padding-global-prev) / 2 - var(--arrow-size) / 4);
      } 
    }

    &-right {
      &::before {
        transform: translateX(calc(50% - .5px));
        left: auto;
        right:calc(var(--padding-global-half));
      }
    }
  }
}