@use "utils/mixins" as *;
@use "utils/type" as *;
@use "utils/variables" as *;
@use "utils/reset" as *;
@use "utils/_blobs" as *;

html {
  font-size: 62.5%;
}
html, body {
  background-color: $bg-color;
  overflow-x: hidden;
}

.main {
  width: 100%;

  &::before, &::after {
    display: block;
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: $text-color;
    opacity: .2; 
  }

  &::before {
    left: .8rem;
  }

  &::after {
    right: .8rem;
  }
    
  &__container {
    position: relative;
    padding: 0 1.6rem;
  }
}

.landing {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__title-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-top: calc(3.3rem + 1.6rem);
    z-index: 99;
  }

  &__title {
    font-size: 6.4rem;
  }

  &__arrow {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__blobs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;

    & .blob--topLeft {
      top: 3.9rem;
      left: -2.7rem;
    }

    & .blob--topRight {
      top: -4.7rem;
      left: 19.3rem;
    }

    & .blob--center {
      top: 22.9rem;
      left: 8.4rem;
    }

    & .blob--downLeft {
      top: 44.4rem;
      left: -10rem;
    }

    & .blob--downRight {
      top: 49.3rem;
      left: 29.6rem;
    }

  }

  &__lines {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .2;
      z-index: 1;
    }

    &__line {
      position: absolute;
      background-color: $text-color;
      height: 1px;
      width: 100%;

      &:nth-of-type(1) {
        transform: translateY(1.6rem);
      }

      &:nth-of-type(2) {
        transform: translateY( calc(100svh - 1.6rem) );
      }
    }
}

.intro {
  margin-bottom: 8rem;

  &__title {
    text-align: end;
    margin-right: 2.4rem;
    margin-top: 25.6rem;
  }

  &__content {
    margin-bottom: 8rem;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  &__p {
    position: relative;

    &--first {
      margin-bottom: 3.2rem;
      font-size: 2.3rem;
      line-height: 160%;
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      height: 1px;
      width: .7rem;
      top: calc(50% - .5px);
      right: -.7rem;
      background-color: $text-color;
      opacity: .2;
    }
  }

  & .blob--intro {
    position: static;
    transform: translateX(20rem);
  }

}

.composition {
  position: relative;
  &::before {
    display: block;
    content: "";
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: -22.4rem;
    left: - calc(1.59rem);
    background-image: url(../../assets/images/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__title-container {
    position: relative;
    &::before {
      display: block;
      content: "";
      height: 1px;
      width: calc(100vw + 2.4rem + 1.6rem);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: - calc(2.4rem + 1.6rem);
      background-color: $text-color;
      opacity: .2;
    }
  }
  &__title {
    padding: 0 1.2rem;
    margin-left: 1.2rem;
    background-color: $bg-color;
    width: fit-content;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
  }

  &__item {
    margin-left: 2rem;
    &-title {
      position: relative;
      font-size: 2.3rem;
      font-weight: 400;
      margin-bottom: 3.2rem;

      &::before {
        display: block;
        content: "";
        height: 1px;
        width: calc(1.6rem - .8rem - .5px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: - calc(2rem + 0.7rem);
        background-color: $text-color;
        opacity: .2;
      }

      &::after {
        display: block;
        content: "";
        width: .8rem;
        height: .8rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: - 1.95rem;
        background-color: $accent-color;
      }
    }

    &-text {
      padding-left: 1.6rem;
    }
  }

}

.cube {
  &-left {

    &::before {
      display: block;
      content: "";
      position: absolute;
      top: calc(50%);
      transform: translateY(-50%);
      left: - calc(1.2rem + 1.2rem + .1rem);
      width: 1.2rem;
      height: 1.2rem;
      background-color: $accent-color;

    }

    &--padding {
      &::before{
        left: - calc(1.2rem + 1.2rem + .1rem);

      }
    }

  }
  &-right {
    
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: - calc(2.4rem + 1.2rem + .1rem);
      width: 1.2rem;
      height: 1.2rem;
      background-color: $accent-color;

    }
  }
}